<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Post</title>
    <link rel="stylesheet" href="/css/style.css" media="screen">
  </head>
  <body>
    <div class="single-post">
      <h2><%= post.title %></h2>
      <p>
        <%= post.description %>
      </p>
      <p>
        <%= post.author.capitalize %>
      </p>
      <a href="/posts/edit/<%=post.id%>">Edit</a>
      <a href="/posts/delete/<%=post.id%>">Delete</a>
    </div>
    <a href="/posts/new">Create new Post.</a>
  </body>
</html>
